body {
    margin: 0;
    background-color: #b3cbaa76;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    width: 500px; 
    max-width: 100%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto; 
}

/* TOP NAVIGATION BAR */
header nav {
    background-color: #b3cbaa;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

header nav li {
    padding: 10px 20px;
}

header nav a {
}

/* Hide all text and images ???? */
.text, .image {
    display: none;
}


@media screen and (max-width: 767px) {
    .text-costco {
        display: block;
    }
    .image-costco {
        display: block; 
        margin-left: auto;
        margin-right: auto;
    }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header nav ul {
        background-color: rgb(255, 219, 88);
        flex-direction: row;
        justify-content: space-evenly;
    }
    body {
        background-color: rgba(255, 219, 88, 0.508);
    }

    
    .text-hawaiano {
        display: block;
    }
    .image-hawaiano { 
        display: block; 
        margin-left: auto;
        margin-right: auto;
    }
}

/* Desktop View */
@media screen and (min-width: 1024px) {
    header nav ul {
        background-color: #9a382d;
        justify-content: flex-end;
    }
    body {
        background-color: #9a382d7c;
    }
    main {
        width: 1024px;
        margin: auto;
    }

    .text-texas {
        display: block;
    }
    .image-texas {
        display: block; 
        margin-left: auto;
        margin-right: auto;
    }
}
